.searchBar {
  align-items: center;
  color: var(--black);
  background-color: var(--mid-grey);
  display: flex;
  height: 40vh;
  justify-content: space-between;
  padding: 0 50px 0 80px;
}

.searchBar div:nth-child(1) {
  width: 200px;
}

.searchBar input {
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 20px 20px;
  width: 25vw;
}

.searchBar input::placeholder {
  color: var(--heavy-grey);
}

.searchBar div {
  position: relative;
}

.searchBar div button {
  background-color: var(--mid-grey);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  padding: 11px 13px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 300ms ease-in-out;
}

.main {
  background-color: var(--light-grey);
  display: flex;
}

.typesContainer {
  width: 20vw;
  border-right: 1px solid var(--mid-grey);
  display: flex;
  flex-direction: column;
  padding: 60px 0 0 45px;
}

.typeContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 200ms ease-in-out;
  width: fit-content;
}

.typeContainer:hover {
  transform: translateX(15px);
}

.selectedType .typeContainer:hover  {
  color: rgb(105, 105, 105);
}

.typeContainer p {
  font-size: 15px;
  font-weight: 500;
  color: rgb(67, 67, 67);
}

.selectedType p {
  text-decoration: rgb(67, 67, 67) underline;
}

.mainInfo {
  min-height: 160vh;
  width: 80vw;
}

.totalContainer {
  padding: 10px 70px;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalContainer > div:nth-child(1) {
  display: flex;
}

.totalContainer > div > h3 {
  color: var(--black);
}

.totalContainer > div > img {
  margin-right: 10px;
}

.selectTypeContainer {
  display: none;
}

.selectTypeContainer select {
  border: 1px solid var(--heavy-grey);
  border-radius: 10px;
  padding: 0 5px;
  width: 110px;
  height: 30px;
  background-color: var(--white);
  outline: none;
}

.pokemonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonsContainer a {
  text-decoration: none;
}

.pokemonContainer {
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 300px;
  background-color: var(--white);
  border-radius: 15px;
  margin: 15px 20px;
  justify-content: space-evenly;
  box-shadow: 0 0 20px rgb(230, 230, 230);
  padding: 0 20px;
  transition: all 250ms;
  animation: fromBottom .5s ease-out;
  cursor: pointer;
}

.pokemonContainer:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px rgb(215, 215, 215);
}

.pokemonContainer > img {
  align-self: center;
  width: 190px;
}

.pokemonContainer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonContainer > div > div > p {
  font-size: 12px;
  color: #8c8c8c;
  font-weight: 500;
  margin-bottom: 5px;
}

.pokemonContainer > div > div > h3 {
  font-size: 17px;
  color: var(--black);
}

.seeMoreContainer {
  min-height: 8vh;
  max-height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 13px;
}

.seeMoreContainer button {
  border: 1px solid var(--mid-grey);
  border-radius: 5px;
  color: var(--white);
  background-color: rgb(93, 179, 220);
  padding: 7px 12px;
  font-weight: 600;
  box-shadow: 0 0 15px var(--mid-grey);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  margin: 30px 0;
}

.seeMoreContainer button:hover {
  background-color: rgb(79, 147, 179)
}

.Details {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Details i {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 1.5rem;
  transition: all .5s ease-out;
  color: var(--white);
  cursor: pointer;
}

.Details i:hover {
  color: var(--heavy-grey);
}

.Details > div {
  background-color: var(--light-grey);
  width: 50vw;
  height: 60vh;
  border-radius: 15px;
  border: 1px solid var(--heavy-grey);
  box-shadow: 0 0 7.5px var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fromBottom .4s ease-out;
}

.pokemonImgContainer {
  background-color: rgb(227, 227, 227);
  border-right: 1px solid var(--heavy-grey);
  height: 100%;
  width: 25%;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.pokemonImgContainer img {
  width: 13rem;
}

.pokemonInfoContainer {
  width: 60%;
  border-radius: 0 15px 15px 0;
  color: var(--black);
}

.pokemonInfoContainer h1 {
  font-size: 1.7rem;
}

.pokemonInfoContainer h1 span {
  font-size: 1.1rem;
  color: var(--heavy-grey);
  font-weight: 400;
}

.pokeInfo {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.pokeInfo > div {
  margin: 0 15px 0 0;
}

.pokeInfo > div > p:nth-child(1) {
  font-size: 0.85rem;
  font-weight: 400;
  color: #8c8c8c;
  margin-bottom: 3px;
}

.pokeInfo > div > p:nth-child(2) {
  font-weight: 500;
  color: var(--black);
}

.type {
  width: fit-content;
  padding: 4px 10px;
  color: var(--white);
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 5px 0;
}

.normal {
  background-color: silver;
}

.fighting {
  background-color: red;
}

.flying {
  background-color: deepskyblue;
}

.poison {
  background-color: purple;
}

.ground {
  background-color: saddlebrown;
}

.rock {
  background-color: rosybrown;
}

.bug {
  background-color: greenyellow;
}

.ghost {
  background-color: rebeccapurple;
}

.steel {
  background-color: steelblue;
}

.fire {
  background-color: orange;
}

.water {
  background-color: dodgerblue;
}

.grass {
  background-color: green;
}

.electric {
  background-color: yellow;
}

.psychic {
  background-color: coral;
}

.ice {
  background-color: paleturquoise;
}

.dragon {
  background-color: darkblue;
}

.dark {
  background-color: rgb(67, 67, 67);
}

.fairy {
  background-color: palevioletred;
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 900px) and (min-width: 680px) {
  .mainInfo {
    width: 100%;
  }

  .selectTypeContainer {
    display: block;
  }

  .searchBar {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 25px;
    text-align: center;
    height: 30vh;
  }

  .searchBar div:nth-child(1) {
    width: 100%;
  }

  .searchBar div h1 {
    font-size: 1.8rem;
  }

  .searchBar input {
    width: 100%;
  }

  .totalContainer {
    height: 17vh;
    padding: 0 60px;
  }

  .typesContainer {
    display: none;
  }

  .pokemonsContainer {
    width: 100vw;
    justify-content: center;
  }

  .pokemonContainer {
    width: 20rem;
    height: 300px;
  }

  .pokemonContainer img {
    width: 12.5rem;
  }

  .Details > div {
    flex-direction: column;
    height: 30vh;
  }

  .pokemonImgContainer {
    padding: 0;
    padding-top: 40px;
    justify-content: center;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 30%;
  }

  .pokemonImgContainer img {
    width: 10rem;
  }

  .pokemonInfoContainer {
    width: 100%;
    padding: 10px 20px;
  }
}

@media (max-width: 680px) {
  .mainInfo {
    width: 100%;
  }

  .selectTypeContainer {
    display: block;
  }

  .searchBar {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 25px;
    text-align: center;
  }

  .searchBar div:nth-child(1) {
    width: 100%;
  }

  .searchBar div h1 {
    font-size: 1.8rem;
  }

  .searchBar input {
    width: 100%;
  }

  .totalContainer {
    height: 17vh;
    padding: 0 30px;
  }

  .typesContainer {
    display: none;
  }

  .pokemonsContainer {
    width: 100vw;
    justify-content: center;
  }

  .pokemonContainer {
    width: 20rem;
    height: 300px;
  }

  .pokemonContainer img {
    width: 12.5rem;
  }

  .pokemonContainer {
    width: 20rem;
    height: 300px;
  }

  .pokemonContainer img {
    width: 12.5rem;
  }

  .Details > div {
    flex-direction: column;
    height: 50vh;
    width: 80vw;
  }

  .pokemonImgContainer {
    padding: 0;
    padding-top: 40px;
    justify-content: center;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 30%;
  }

  .pokemonImgContainer img {
    width: 10rem;
  }

  .pokemonInfoContainer {
    width: 100%;
    padding: 10px 20px;
  }
}

@media (max-width: 680px) and (max-width: 680px) {
  .Details > div {
    flex-direction: column;
    height: 50vh;
    width: 80vw;
  }
}
