.searchBar {
  align-items: center;
  color: var(--black);
  background-color: var(--mid-grey);
  display: flex;
  height: 40vh;
  justify-content: space-between;
  padding: 0 50px 0 80px;
}

.searchBar h1 {
  width: 200px;
}

.searchBar input {
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 20px 20px;
  width: 25vw;
}

.searchBar input::placeholder {
  color: var(--heavy-grey);
}

.searchBar div {
  position: relative;
}

.searchBar div button {
  background-color: var(--mid-grey);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  padding: 11px 13px;
  position: absolute;
  right: 10px;
  top: 10px;
}