.innitialContainer {
  background-image: url('../../images/escuro.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innitialContainer header {
  height: 15vh;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.innitialContainer header p {
  color: var(--white);
  font-size: 15px;
}

.innitialContainer header p span {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
}

.innitialContainer header img {
  width: 150px;
}

.phrasesContainer {
  text-align: center;
  height: 62vh;
}

.phrasesContainer h1 {
  color: var(--light-grey);
  font-size: 60px;
  margin-bottom: 20px;
}

.phrasesContainer p {
  color: var(--light-grey);
  font-weight: 500;
}

.explore {
  position: absolute;
  bottom: 4vh;
  left: 5vh;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  color: var(--light-grey);
  cursor: pointer;
}

.explore p {
  transform: rotate(-90deg);
  position: relative;
  bottom: 13.5vh;
  font-size: 15px;
}

.explore i {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  padding: 10px 13px;
  transition: all 200ms ease;
}

.explore:hover i {
  background-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .explore p {
    bottom: 6rem;
  }
}

@media (max-width: 680px) {
  .innitialContainer header {
    justify-content: center;
  }

  .innitialContainer header p {
    display: none;
  }

  .phrasesContainer {
    padding: 0 20px;
  }

  .phrasesContainer h1 {
    font-size: 3rem;
  }

  .phrasesContainer p {
    font-size: 1rem;
  }

  .explore p {
    bottom: 5rem;
  }

  .explore p, .explore i {
    font-size: 0.85rem;
  }
}
