footer {
  height: 15vh;
  background-color: var(--light-grey);
  border-top: 1px solid var(--mid-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--black);
  font-size: 14px;
}